@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

div {
  padding: 20px;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.oklch-color1 {
  background-color: oklch(90% 0.1 240);
  /* text-align: left; */
}

.oklch-color2 {
  background-color: oklch(70% 0.25 140);
  /* text-align: center; */
}

.oklch-color3 {
  background-color: oklch(40% 0.15 320);
  /* text-align: right; */
}

/* 박스 방향 순서 */
.example-box {
  background-color: #cce5ff;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  border: 4px solid #004085;

  padding: 20px 70px 10px 60px;
  margin: 30px 70px;
}

/* 이미지 스타일 */
img {
  display: block;
}

/* 1. 고정 크기 (px) */

.img-fixed {
  width: 400px;
  height: 200px;
  margin-bottom: 20px;
}

/* 2. aspect-ratio 유지 */
.img-ratio {
  width: 300px;
  aspect-ratio: 16 / 9;
  height: auto; /* 브라우저 지원 시 높이 자동 계산 */
  margin-bottom: 20px;
}

/* 3. 반응형 크기 (%) */
.img-responsive {
  width: 40%;
  height: auto;
  margin-bottom: 20px;
}

/* 4. 뷰포트 단위 (vw, vh) */
.img-viewport {
  width: 50vw;
  height: 30vh;
  object-fit: cover;
}

/* 텍스트 스타일 */

/* 제목 */
h1 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

/* 글자 스타일 */
.normal {
  font-style: normal;
}

.italic em {
  font-style: italic;
}

.oblique-text {
  font-style: oblique;
}

/* 굵기 */
.bold-text {
  font-weight: bold;
}

/* 글자 크기 */
.large-text {
  font-size: 24px;
}

/* 글꼴 */
.font-text {
  font-family: "Courier New", Courier, monospace monospace;
}

/* 정렬 */
.align {
  text-align: center;
}

/* 줄 간격 */
.line-spacing {
  line-height: 2;
}

/* 간격 */
.spacing {
  letter-spacing: 2px;
  word-spacing: 10px;
}

/* 텍스트 장식 */
.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

/* 대소문자 변환 */
.upper {
  text-transform: uppercase;
}

.capital {
  text-transform: capitalize;
}

/* 공백 유지 */
.white-space {
  white-space: pre;
}

/* 텍스트 방향 */
.direction {
  direction: rtl;
}

/* @규칙 */

/* @import - 웹폰트 불러오기 */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

body {
  font-family: "Nanum Pen Script", cursive;
  background-color: white;
  color: black;
  padding: 20px;
  transition: all 0.3s ease;
}

/* @media - 반응형 웹: 작은 화면에서는 배경색 변경 */
@media (max-width: 800px) {
  body {
    background-color: lightgray;
  }

  h1 {
    font-size: 24px;
    color: darkblue;
  }
}

/* @media - 다크모드 지원 */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }

  h1 {
    color: #90caf9;
  }
}

/* [신규 기능]다크모드 지원: light-dark() 함수 사용 */
body {
  background-color: light-dark(lightgray, #121212);
  color: light-dark(black, white);
}
h1 {
  color: light-dark(darkblue, #90caf9);
}
