@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400&display=swap');

@supports (scrollbar-gutter: stable) {
  main {
    scrollbar-gutter: stable;
  }
}

// 공통 부분
:root {
  --base: oklch(55% 0.2 266);
  --base-transparent: oklch(50% 0.2 266 / 0.5);
  --secondary: oklch(44% 0.2 266);
  --surface: oklch(97% 0.025 90);
  --nav-height: 120px;
  --footer-height: 56px;
  --scrollbar-width: 10px;
  --serif-font: 'Crimson Text', serif;
  --sans-serif-font: 'Pretendard-Regular', 'Inter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--surface);
  color: var(--base);
  height: 100%;
  user-select:none;
}


img {
  max-width: 100%;
}

h3 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  color: var(--base);
}

header {
  width: 100%;
  top: 0;
  position: relative;
  background-color: var(--surface);
  border-bottom: 2px solid var(--base);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

main {
  padding-block: 0px 10px;
  padding-left: var(--scrollbar-width);
  color: var(--base);
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;

  @-moz-document url-prefix() {
    scrollbar-color: var(--base) transparent;
  }

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--base);
    transition: background-color 1s ease;

    &:hover {
      background-color: var(--secondary);
    }
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--base);
  padding-block: 10px;
  z-index: 2;
}

.section {
  max-width: 1600px;
  // min-width: 900px;
  padding-inline: 40px;
  margin-inline: auto;
}

.nav {
  display: flex;
  height: var(--nav-height);
  padding-top: 42px;
  align-items: baseline;
  justify-content: space-between;

  a {
    color: inherit;
    text-decoration: none;
  }

  &__logo {
    font-family: var(--serif-font);
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
  }

  &__links {
    display: flex;
    gap: 40px;
    font-family: var(--sans-serif-font);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    
  }
}

.container {
  //메인화면
  &__main {
    margin-bottom: 10px;
    width: 100%;
    position: relative;

    // 썸네일
    &--thumbnail {
      width: 100%;
      display: block;
    }

    //썸네일 오버레이
    &--overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, transparent 70%, var(--base) 105%);
      opacity: 0;
      transition: .5s ease;

      &--info {
        display: flex;
        position: absolute;
        inset: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 40px;
        margin-top: auto;
        color: #fff;

        &--title {
          font-size: 36px;
          font-weight: 500;
          line-height: 100%;
        }

        &--date {
          font-size: 24px;
          line-height: 100%;
        }
      }

      &:hover {
        opacity: 1;
      }
    }
  }
  

  &__others {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    &--content {
      position: relative;
      inset: 0;

      &--thumbnail {
        height: 100%;
        display: block;
        overflow: hidden;
      }

      &--overlay--info {
        position: absolute;
        inset: 0;
        display: grid;
        grid-template-rows: min-content min-content;
        align-content: center;
        text-align: center;
        background: var(--base-transparent);
        color: #fff;
        opacity: 0;
        transition: .5s ease;

        &--title {
          font-size: 32px;
          font-weight: 500;
          line-height: 100%;
          margin-bottom: 16px;
        }

        &--date {
          font-size: 18px;
          line-height: 100%;
        }

        &:hover {
          opacity: 1;
        }
      }
      
    }
  }
  
  // 공통부분(하단)
  &__bio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--surface);
    font-family: var(--sans-serif-font);

    &--info {
      &--name {
        font-size: 18px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 8px;
        margin-bottom: 4px;
      }

      &--email {
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1px;
      }
    }

    &--links {
      display: flex;
      align-items: center;
      gap: 16px;

      &--icon {
        width: 32px;
        height: 32px;
      }
    }
  }

  //프로필
  &__profile {
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 60px 60px;
    margin-top: 8vh;
    margin-inline: auto;

    &--img {
      position: relative;

      & img {
        display: block;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: top;
        border-radius: 10px;
        pointer-events: none;
      }

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--surface);
        mix-blend-mode: color;
      }
    }

    &--info {
      display: grid;
      align-content: space-between;
      height: 100%;
      padding-top: 4px;
      margin-block: auto;
      font-family: var(--sans-serif-font);

      &--top {
        &--keyword {
          font-size: 28px;
          line-height: 100%;
        }

        &--name {
          justify-self: end;
          font-size: 72px;
          font-weight: 700;
          line-height: 100%;
          margin-top: 10px;
        }
      }

      &--bottom {
        &--job {
          font-size: 16px;
          font-weight: 700;
          line-height: 100%;
        }

        &--education {
          font-size: 16px;
          font-weight: 700;
          line-height: 100%;
          margin-top: 8px;
        }

        &--caption {
          margin-top: 24px;
          font-size: 18px;
          font-weight: 500;
          word-break: keep-all;
          text-indent: 8px;
        }
      }
    }

    &--title {
      font-size: 28px;
      font-weight: 700;
      font-family: var(--serif-font);
      margin-bottom: 24px;
    }

    &--skills {

      &--items {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        
        &--item {
          display: grid;
          grid-template-columns: subgrid;
          justify-items: center;
          
          & > img {
            width: 50px;
            pointer-events: none;
          }
          
          &--text {
            font-family: var(--sans-serif-font);
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            margin-top: 8px;
          }
        }
      }
    }

    &--works {

      &--items {
        display: grid;
        grid-template-columns: auto auto;
        gap: 16px;
        justify-content: space-between;
        font-size: 16px;
        line-height: 100%;
        
        &--year {
          grid-column: 1;
          font-weight: 500;
        }

        &--work {
          grid-column: 2;
        }
      }
    }
  }

  //프로젝트 아카이브


  //프로젝트 개별

}

//메인페이지용
@media (max-width: 1500px) {
  
}
//프로필용
@media (max-width: 1100px) {
  
}
//헤더푸터용
@media (max-width: 920px) {
  
}